<div class="wrapper" ng-class="{'form-success':ctrl.showlogin}">
    <div class="container">
        <h1>Welcome</h1>

        <form class="form" ng-show="!ctrl.showlogin">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit" id="login-button" ng-click="ctrl.login()">Login</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>